# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Python env variables
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Logs
*.log

# macOS system files
.DS_Store

# PyCharm
.idea/

# Any other local config files
config.json
*.sqlite3
